*.o
*.d
.*.swp
*.deps
*.dirstamp
.DS_Store
Makefile
autom4te.cache
config.h
config.status
config.cache
config.log
bin/nagi
bin/x86
bin/x64

# visual studio cmake support defaults to out/
.vs
out
CMakeSettings.json
